<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.kr.pm.pickme">

    <!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <!--    &lt;!&ndash; 음성 호트워드 감지 권한 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PICKME">
        <activity
            android:name="co.kr.pm.pickme.JoinActivity"
            android:exported="true"/>
        <activity
            android:name="co.kr.pm.pickme.LoginActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity,Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="co.kr.pm.pickme.CommunityActivity"-->
<!--            android:exported="true"/>-->
        <activity
            android:name=".IdforgotActivity"
            android:exported="true"/>
        <activity
            android:name=".PassforgotActivity"
            android:exported="true"/>
        <activity
            android:name=".Community2Activity"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".SearchActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity,Instantiatable" />

        <activity
            android:name="co.kr.pm.pickme.MainActivity"
            android:exported="true"/>

        <activity android:name=".CommunityActivity">
            android:exported="true"
        </activity>
        <activity android:name=".RecordActivity">
            android:exported="true"
        </activity>
        <activity android:name=".MyPageActivity">
            android:exported="true"
        </activity>
        <activity android:name=".WritecomActivity">
            android:exported="true"
        </activity>
        <activity android:name=".WritegeActivity">
            android:exported="true"
        </activity>
        <activity android:name=".SearchPeopleActivity">
            android:exported="true"
        </activity>
        <activity android:name=".ChaActivity">
            android:exported="true"
        </activity>

    </application>

</manifest>